.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.formulario {
    border: 4px solid #333333;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
}

.formularioTitulo {
    font-size: 3.75rem;
}

.formularioContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
}

.formularioContainer input {
    font-size: 1.875rem;
    border: 1px solid #333333;
    background-color: #E6E6E6;
}

.formularioContainer label {
    font-size: 1.875rem;
    font-weight: 500;
}

.formularioName {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.formularioAge {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.formularioFoto {
    display: flex;
    flex-direction: column;
}

.formularioDescricao {
    display: flex;
    flex-direction: column;
}

.formularioContainerNameAge {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.formularioDescricao textarea {
    background-color: #E6E6E6;
    resize: none;
    min-height: 20rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.formularioBotao {
    background-color: #2C5680;
    width: fit-content;
    font-size: 1.5rem;
    padding: 0.3rem 3rem;
    color: #FFFFFF;
    border: 1px solid #333333;
    cursor: pointer;
    align-self: center;
}