.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0rem;
}

.adotarLobo {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.areaInfoLobo {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
}

.infoLoboImg img{
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
}

.infoLoboTitle {
    font-size: 3.75rem;
    font-weight: 600;
}

.infoLoboText {
    font-size: 0.875rem;
    font-weight: 600;
}

.adotarFormulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.875rem;
    font-weight: 500;
    gap: 2rem;
}

.adotarFormulario input{
    font-size: 1.875rem;
    border: none;
    border-bottom: 1px solid #333333;
    outline: none;
}

.adotarFormularioNameAge {
    display: flex;
    gap: 1rem;

}

.adotarFormularioName {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.adotarFormularioAge {
    display: flex;
    flex-direction: column;
    width: 10%;
}

.adotarFormularioEmail {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.adotarBotao {
    font-size: 2.25rem;
    width: fit-content;
    font-weight: 600;
    border: 1px solid #333333;
    background-color: #2C5680;
    color: #FFFFFF;
    padding: 0.15rem 3rem;
    cursor: pointer;
    align-self: center;
}