.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #85CDF5;
    padding: 1rem;
    font-weight: 700;
}

.headerLink {
    text-decoration: none;
    position: relative;
}

.headerlinkText {
    font-size: 1.875rem;
    color: #333333;
    position: relative;
}

.headerLink::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #333333;
    transition: width 0.3s;
}

.headerLink:hover::after {
    width: 100%;
}




/* ======== Style do Footer ========= */

.footer {
    background-color: #333333;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2.5rem;
    border-top: 5px solid;
    border-image: linear-gradient(to right, #DEB959, #2C5680) 5;
    flex-wrap: wrap;
}

.footerContato {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.contatoMapa {
    height: 13rem;
    border: none;
}

.contatoInfoLista {
    font-size: 1.125rem;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 45%;
}

.contatoInfoListaItem {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.contatoInfosButton {
    width: fit-content;
    padding: 0.25rem 0.5rem;
    font-size:1.565rem;
    color: #353535;
    background-color: #DEB959;
    cursor: pointer;
    border: none;
}

.footerContainer {
    text-align: center;
}

.footerContainerText {
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
    color: #FFFFFF;
}

