.intro {
    background-image: url(../assets/LoboIntro.svg);
    background-size: cover;
    min-height: 70vh;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.introContainer {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.introTitle {
    font-size: 6rem;
    font-weight: 700;
}

.introTrace {
    width: 12rem;
    height: 0.3rem;
    background-color: #FFFFFF;
}

.introText {
    font-size: 1.875rem;
    font-weight: 400;
    text-align: center;
    width: 90%;
}

.sobre {
    background-color: #2C5680;
    padding: 4rem 0rem;
}

.sobreContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.sobreTitle {
    font-size: 3rem;
    font-weight: 700;
    color: #DEB959;
}

.sobreText {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 400;
    width: 65%;
    text-align: center;
    line-height: 2.1rem;
}

.valores {
    background-color: #333333;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
}

.valoresTitle {
    font-size: 3rem;
    color: #DEB959;
}

.valoresContainers {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}

.valoresItem {
    width: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.valoresItemImgContainer {
    background-color: #FFFFFF;
    width: 11.875rem;
    height: 11.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.valoresItemTitle {
    font-size: 2.125rem;
}

.valoresItemText {
    font-size: 1.625rem;
    line-height: 1.25rem;
}

.lobosExemplo {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
}

.lobosExemploTitle {
    font-size: 3rem;
    color: #DEB959;
}

.lobosExemploContainer {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

.cardContent {
    display: flex;
    gap: 2rem;
    flex-flow: wrap;
}

.cardImage {
    width: 23rem;
    height: 18rem;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.8rem;
    width: 60%;
}

.cardInfoTitle {
    font-size: 2.25rem;
}

.cardInfoText {
    font-size: 1.5rem;
}

.secCardContent {
    display: flex;
    gap: 2rem;
    flex-direction: row-reverse;
    text-align: right;
    flex-wrap: wrap;
}