.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0rem;
}
  
.searchcheck {
    padding: 16px;
    margin-bottom: 16px;
    width: 55%;
}
.searchContainer {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 1rem;
}
  
.searchInput {
    font-size: 1.25rem;
    padding: 0.3rem;
    border: 1px solid #ccc;
    width: 100%;
}
  
.searchButton {
    background-color: #DEB959;
    color: #fff;
    border: none;
    padding: 0.3rem 2rem;
    cursor: pointer;
    font-size: 1.25rem;
}

.filterContainer {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: flex-start;
}

.adoptedCheckbox {
    margin-right: 8px;
    justify-content: flex-start;
}

.areaLobos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.loboContainer {
    display: flex;
    gap: 2.5rem;
    width: 70%;
}

.loboImage {
    width: 24rem;
    height: 18rem;
}

.loboInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.loboInfoHeader {
    display: flex;
    justify-content: space-between;
}

.loboName {
    font-size: 2.25rem;
    font-weight: 700;
}

.loboAge {
    font-size: 1.25rem;
}

.loboInfoButton {
    height: fit-content;
    font-size: 2.25rem;
    font-weight: 600;
    background-color: #DEB959;
    color: #FFFFFF;
    border: none;
    padding: 0.1rem 2rem;
    cursor: pointer;
}

.loboInfoDescription {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.loboContainerD {
    display: flex;
    gap: 2.5rem;
    width: 70%;
    flex-direction: row-reverse;
}

.loboInfoD {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: right;
}

.loboInfoHeaderD {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.loboAdotadoInfoButton {
    background-color: #7AAC3A;
    height: fit-content;
    font-size: 2.25rem;
    font-weight: 600;

    color: #FFFFFF;
    border: none;
    padding: 0.1rem 2rem;
    cursor: pointer;
}

.loboInfoAdotador {
    font-size: 1.5rem;
    font-weight: 700;
}