html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.quemSomosContainer {
    width: 60%;
    text-align: center;
}

.quemSomosTitle {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.quemSomosText {
    font-size: 1.5rem;
    text-align: center;
}