.main { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.card {
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.cardHeader {
    font-size: 3rem;
    font-weight: 600;
}

.cardCont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cardImage {
    width: 23rem;
    height: 18rem;
}

.cardButtons {
    display: flex;
    justify-content: space-between;
}

.adoptButton {
    background-color: #7AAC3A;
    width: fit-content;
    padding: 0.75rem 2.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
}

.deleteButton {
    background-color: #DE5959;
    width: fit-content;
    padding: 0.75rem 2.5rem;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
}

.cardDescription {
    width: 50%;
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.5rem;
}

